@using PickingListApp.DTOs
@using Syncfusion.Blazor.Grids

<SfGrid @ref="Grid" DataSource="@Items" Toolbar="@(IsReadOnly ? null : new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
    <GridEditSettings AllowAdding="!IsReadOnly" AllowEditing="!IsReadOnly" AllowDeleting="!IsReadOnly" Mode="EditMode.Normal"></GridEditSettings>
    <GridColumns>
        <GridColumn Field=@nameof(PickingListItemDto.LineNo) HeaderText="Line" IsPrimaryKey="true" TextAlign="TextAlign.Right" Width="120"></GridColumn>
        <GridColumn Field=@nameof(PickingListItemDto.Quantity) HeaderText="Qty" Width="150"></GridColumn>
        <GridColumn Field=@nameof(PickingListItemDto.QuantityUnit) HeaderText="Unit" Width="130" AllowEditing="false"></GridColumn>
        <GridColumn Field=@nameof(PickingListItemDto.ItemCode) HeaderText="Item Code" Width="200"></GridColumn>
        <GridColumn Field=@nameof(PickingListItemDto.Description) HeaderText="Description" Width="300"></GridColumn>
        <GridColumn Field=@nameof(PickingListItemDto.WidthIn) HeaderText="Width (in)" Format="N3" Width="150" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(PickingListItemDto.LengthIn) HeaderText="Length (in)" Format="N3" Width="150" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(PickingListItemDto.WeightLbs) HeaderText="Weight (lbs)" Format="N2" Width="150" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(PickingListItemDto.ProcessType) HeaderText="Process" Width="150" AllowEditing="false"></GridColumn>
    </GridColumns>
    <GridTemplates>
        <DetailTemplate>
            @{
                var item = (context as PickingListItemDto);
                if (item != null)
                {
                    <h5>Tag Details for Line @item.LineNo</h5>
                    <SfGrid DataSource="@item.TagDetails" Toolbar="@(IsReadOnly ? null : new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
                        <GridEditSettings AllowAdding="!IsReadOnly" AllowEditing="!IsReadOnly" AllowDeleting="!IsReadOnly" Mode="EditMode.Normal"></GridEditSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(ItemTagDetailDto.TagNo) HeaderText="Tag #" Width="150"></GridColumn>
                            <GridColumn Field=@nameof(ItemTagDetailDto.HeatNo) HeaderText="Heat #" Width="150"></GridColumn>
                            <GridColumn Field=@nameof(ItemTagDetailDto.MillRef) HeaderText="Mill Ref" Width="200"></GridColumn>
                            <GridColumn Field=@nameof(ItemTagDetailDto.Qty) HeaderText="Qty" Width="120"></GridColumn>
                            <GridColumn Field=@nameof(ItemTagDetailDto.ThicknessIn) HeaderText="Thk (in)" Format="N5" Width="150"></GridColumn>
                            <GridColumn Field=@nameof(ItemTagDetailDto.Size) HeaderText="Size" Width="150"></GridColumn>
                            <GridColumn Field=@nameof(ItemTagDetailDto.Location) HeaderText="Location" Width="150"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                }
            }
        </DetailTemplate>
    </GridTemplates>
</SfGrid>

@code {
    [Parameter]
    public ICollection<PickingListItemDto>? Items { get; set; }

    [Parameter]
    public bool IsReadOnly { get; set; }

    private SfGrid<PickingListItemDto> Grid = default!;
}
